@import "styles/Variables";

.Loading {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  .icon {
    color: $blue;
  }
  .text {
    display: inline-block;
    text-align: left;
    width: 120px;
    padding-left: 10px;
  }
}
