@import "styles/Variables";

.box {
  background: $dark-grey-2;
  padding: 17px;
  height: 40px;
  margin: 20px 20px 20px 0;

  .first-input {
    font-size: 14px;
		margin-bottom: 5px;
    color: $light-white;
  }

  .second-input {
    font-weight: bold;
    font-size: 18px;
    color: $light-white;
  }

  &::last-child {
    margin-right: 0;
  }
}
